<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>登录</title>
    <!-- CSS files -->
    <link href="/static/css/tabler.css" rel="stylesheet"/>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
</head>
<body class=" d-flex flex-column">
<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="card card-md">
            <div class="card-body">
                <h2 class="h2 text-center mb-4">监控端登录</h2>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <label class="form-label">用户名</label>
                        <input type="text" id="username" name="username" class="form-control" value="admin"
                               placeholder="输入用户名"
                               autocomplete="off">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">密码
                            <span class="form-label-description">
                                <a href="./forgot-password">忘记密码?</a>
                            </span>
                        </label>
                        <div class="input-group input-group-flat">
                            <input type="password" id="password" name="password" class="form-control" value="123"
                                   placeholder="输入密码"
                                   autocomplete="off">
                            <span class="input-group-text">
                    <a href="#" class="switch-icon switch-icon-flip" onclick="togglePassword()"
                       data-bs-toggle="switch-icon">
                    <!-- https://tabler-icons.io/i/eye -->
                      <span class="switch-icon-a text-muted">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                               viewBox="0 0 24 24"
                               stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                               stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path
                                  d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"/><path
                                  d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"/></svg>
                      </span>
                        <!-- https://tabler-icons.io/i/password -->
                     <span class="switch-icon-b text-muted">
                         <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-password"
                              width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                              fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none"
                                                                                               d="M0 0h24v24H0z"
                                                                                               fill="none"></path><path
                                 d="M12 10v4"></path><path d="M10 13l4 -2"></path><path d="M10 11l4 2"></path><path
                                 d="M5 10v4"></path><path d="M3 13l4 -2"></path><path d="M3 11l4 2"></path><path
                                 d="M19 10v4"></path><path d="M17 13l4 -2"></path><path d="M17 11l4 2"></path>
</svg>
                      </span>
                  </a>
                  </span>
                        </div>
                    </div>
                    <!--                    <div class="mb-2">-->
                    <!--                        <label class="form-check">-->
                    <!--                            <input type="checkbox" class="form-check-input"/>-->
                    <!--                            <span class="form-check-label">记住我</span>-->
                    <!--                        </label>-->
                    <!--                    </div>-->
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100" onclick="saveUsername()">登录</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="text-center text-muted mt-3">
            还没有账户吗? <a href="/sign-up" tabindex="-1">注册</a>
        </div>
    </div>
</div>
<!-- Tabler Core -->
<script src="/static/js/tabler.js" defer></script>
<!-- 保存用户名 -->
<script type="text/javascript">
    function saveUsername() {
        let username = $("#username").val();
        sessionStorage.setItem("username", username);
    }

    function togglePassword() {
        let password = $("[name='password']");
        if (password.attr("type") === "password") {
            password.attr("type", "text");
        } else {
            password.attr("type", "password");
        }
    }
</script>
</body>
</html>