<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Android Monitor</title>
    <!-- CSS files -->
    <link href="/css/tabler.css" rel="stylesheet"/>
    <link href="/css/tabler-flags.css" rel="stylesheet"/>
    <link href="/css/tabler-payments.css" rel="stylesheet"/>
    <link href="/css/tabler-vendors.css" rel="stylesheet"/>
    <link href="/css/demo.css" rel="stylesheet"/>
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- ECharts -->
    <script src="/js/echarts.js"></script>
    <script src="/js/echarts-liquidfill.js"></script>
</head>
<body class="layout-boxed">
<script src="/js/constants.js"></script>
<div class="page">
    <!--Body Header -->
    <header class="navbar  d-print-none">
        <div class="container-xl">
            <!-- LOGO -->
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <!--                <a href=".">-->
                <!--                    <img src="/static/logo-small.svg" width="110" height="32" alt="Tabler" class="navbar-brand-image">-->
                <!--                </a>-->
            </h1>
            <!-- 右侧-->
            <div class="navbar-nav flex-row order-md-last">
                <div class="navbar-nav flex-row order-md-last">
                    <!-- Github按钮-->
                    <div class="nav-item d-none d-md-flex me-3">
                        <div class="btn-list">
                            <a href="https://github.com/GuMorming/AndroidMonitor" class="btn btn-github" target="_blank"
                               rel="noreferrer">
                                <!-- https://tabler-icons.io/i/brand-github -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"/>
                                </svg>
                                Source code
                            </a>
                        </div>
                    </div>
                    <!-- 通知-->
                    <div class="d-none d-md-flex">
                        <!-- 通知 -->
                        <div class="nav-item dropdown d-none d-md-flex me-3">
                            <a href="#" id="bell" onclick="removeTada(this)" class="nav-link px-0"
                               data-bs-toggle="dropdown"
                               tabindex="-1"
                               aria-label="Show notifications">
                                <!-- https://tabler-icons.io/i/bell -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"/>
                                    <path d="M9 17v1a3 3 0 0 0 6 0v-1"/>
                                </svg>
                                <span class="badge bg-red " style="display: none"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">最新消息</h3>
                                    </div>
                                    <!-- 消息列表-->
                                    <div id="alertGroup" class="list-group list-group-flush list-group-hoverable ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Profile-->
                    <div class="nav-item dropdown">
                        <a href="#" class="hover nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                           aria-label="Open user menu">
                            <!-- user-star.svg -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-star"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h.5"></path>
                                <path d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"></path>
                            </svg>
                            <div class=" d-none d-xl-block ps-2">
                                <div class="username fst-italic" id="username">Monitor Username</div>
                                <div class="mt-1 small text-muted fst-italic">Monitor</div>
                            </div>
                        </a>
                        <!-- 下拉菜单 -->
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="./profile" class="dropdown-item">
                                <!-- https://tabler-icons.io/i/user-circle -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                    <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                    <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                                </svg>
                                账户详情
                            </a>
                            <!-- 分割线 -->
                            <div class="dropdown-divider"></div>
                            <a href="./settings" class="dropdown-item">
                                <!-- https://tabler-icons.io/i/settings -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                </svg>
                                设置
                            </a>
                            <a href="/" class="dropdown-item">
                                <!-- https://tabler-icons.io/i/logout -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout"
                                     width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M9 12h12l-3 -3"></path>
                                    <path d="M18 15l3 -3"></path>
                                </svg>
                                退出系统
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 主体内容开始 -->
    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header ">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col user-select-none">
                        <!-- Page pre-title -->
                        <div class="page-pretitle fst-italic">
                            <!-- user-star.svg -->
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="icon icon-tabler icon-tabler-user-star"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                 stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h.5"></path>
                                <path d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"></path>
                            </svg>
                            Monitor
                        </div>
                        <h2 class="page-title username fst-italic user-select-none">
                            Monitor Username
                        </h2>
                    </div>
                    <!-- 连接WebSocket服务器 -->
                    <div class="col-xl-auto d-md-flex">
                        <a id="connectBtn"
                           class="btn btn-primary" onclick="toggleConnectionClicked()">
                            <!-- https://tabler-icons.io/i/plug-connected -->
                            <svg id="plug-connected-svg"
                                 xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plug-connected"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 12l5 5l-1.5 1.5a3.536 3.536 0 1 1 -5 -5l1.5 -1.5z"></path>
                                <path d="M17 12l-5 -5l1.5 -1.5a3.536 3.536 0 1 1 5 5l-1.5 1.5z"></path>
                                <path d="M3 21l2.5 -2.5"></path>
                                <path d="M18.5 5.5l2.5 -2.5"></path>
                                <path d="M10 11l-2 2"></path>
                                <path d="M13 14l-2 2"></path>
                            </svg>
                            <!-- https://tabler-icons.io/i/plug-off -->
                            <svg id="plug-off-svg" display="none"
                                 xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plug-off"
                                 width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                 fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M16.123 16.092l-.177 .177a5.81 5.81 0 1 1 -8.215 -8.215l.159 -.159"></path>
                                <path d="M4 20l3.5 -3.5"></path>
                                <path d="M15 4l-3.5 3.5"></path>
                                <path d="M20 9l-3.5 3.5"></path>
                                <path d="M3 3l18 18"></path>
                            </svg>
                            <span id="connectSpinner"
                                  class="spinner-border spinner-border-sm me-2" role="status" display="none"></span>
                            <span id="connectContent">连接服务器</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page body -->
        <div class="page-body">
            <div class="container-xxl">
                <!-- 这里添加组件 -->
                <!-- 0. 设备列表下拉按钮 -->
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                        <!-- https://tabler-icons.io/i/device-mobile -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"></path>
                            <path d="M11 4h2"></path>
                            <path d="M12 17v.01"></path>
                        </svg>
                        被控设备列表
                    </button>
                    <div class="dropdown-menu" id="clientList">
                        <!-- 下拉列表头:显示在线设备数量 -->
                        <span class="dropdown-header">
                            当前在线设备: <span id="clientNum" class="text-red">0</span> 台
                        </span>
                    </div>
                </div>
                <!-- 1. 数据区 -->
                <div class="hr-text">数据监控区</div>
                <div class="container">
                    <div class="row row-deck row-cards">
                        <!-- 可用内存水球图 -->
                        <div class="col-2">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title text-google">可用内存:</div>
                                </div>
                                <div class="card-body">
                                    <div class="chart" id="chart-memory-available"></div>
                                </div>
                            </div>
                        </div>
                        <!-- CPU使用率折线图 -->
                        <div class="col-lg-10">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title text-google">CPU使用率:</div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-lg" id="chart-cpu-usage"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 电池电量显示 -->
                        <div class="col-4">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title text-google">电量:</div>
                                </div>
                                <div class="card-body">
                                    <div class="chart" id="chart-battery-available"></div>
                                </div>
                            </div>
                        </div>
                        <!-- 网络状态及网速 -->
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title text-google">网络:</div>
                                    <div class="card-subtitle text-facebook" id="network"></div>
                                </div>
                                <div class="card-body">
                                    <div class="chart-lg" id="chart-net-speed"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 2. 图像区 -->
                <div class="hr-text">桌面监控区</div>
                <div class="container-lg">
                    <div class="card">
                        <!-- tabs切换按钮: 1.监控 2.回放 -->
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
                                <li class="nav-item">
                                    <a href="#tabs-monitor" class="nav-link active" data-bs-toggle="tab">监控区</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tabs-playback" class="nav-link" data-bs-toggle="tab">回放区</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <!-- 监控区 -->
                                <div class="tab-pane active show" id="tabs-monitor">
                                    <!-- 监控按钮 -->
                                    <div class="container">
                                        <div class="row-deck  d-md-flex">
                                            <!-- 桌面监控按钮 -->
                                            <div class="col-2">
                                                <a id="screenshotBtn"
                                                   class="btn btn-success disabled col-auto"
                                                   onclick="toggleScreenshot()">
                                                    <!-- https://tabler-icons.io/i/brand-android  -->
                                                    <svg id="android-svg"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-brand-android"
                                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="1"
                                                         stroke="currentColor"
                                                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M4 10l0 6"></path>
                                                        <path d="M20 10l0 6"></path>
                                                        <path d="M7 9h10v8a1 1 0 0 1 -1 1h-8a1 1 0 0 1 -1 -1v-8a5 5 0 0 1 10 0"></path>
                                                        <path d="M8 3l1 2"></path>
                                                        <path d="M16 3l-1 2"></path>
                                                        <path d="M9 18l0 3"></path>
                                                        <path d="M15 18l0 3"></path>
                                                    </svg>
                                                    <span id="screenshotSpinner"
                                                          class="spinner-border spinner-border-sm me-2" role="status"
                                                          display="none"></span>
                                                    <span id="screenshotContent">监控桌面</span>
                                                </a>
                                            </div>
                                            <!-- 保存桌面截图按钮 -->
                                            <div class="col-4">
                                                <a id="saveScreenshotBtn"
                                                   class="btn btn-google disabled col-auto" href="#">
                                                    <!-- https://tabler-icons.io/i/download -->
                                                    <svg id="download-svg"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-download"
                                                         width="24"
                                                         height="24" viewBox="0 0 24 24" stroke-width="1"
                                                         stroke="currentColor"
                                                         fill="none"
                                                         stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
                                                        <path d="M7 11l5 5l5 -5"></path>
                                                        <path d="M12 4l0 12"></path>
                                                    </svg>
                                                    保存当前桌面截图
                                                </a>
                                            </div>
                                            <!-- 清晰度选择条 -->
                                            <div class="col-6 ">
                                                <span class="badge badge-outline text-lg-start text-lime">质量:</span>
                                                <div class="steps disabled">
                                                    <a href="#screenshotBtn" class="step-item active" quality="20"
                                                       onclick="setQuality(this)">
                                                        20%
                                                    </a>
                                                    <a href="#screenshotBtn" class="step-item" quality="40"
                                                       onclick="setQuality(this)">
                                                        40%
                                                    </a>
                                                    <a href="#screenshotBtn" class="step-item" quality="60"
                                                       onclick="setQuality(this)">
                                                        60%
                                                    </a>
                                                    <a href="#screenshotBtn" class="step-item" quality="80"
                                                       onclick="setQuality(this)">
                                                        80%
                                                    </a>
                                                    <a href="#screenshotBtn" class="step-item" quality="100"
                                                       onclick="setQuality(this)">
                                                        100%
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 桌面显示 -->
                                    <div class="container-tight">
                                        <div id="carousel" class="carousel" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img id="client-desktop" class="d-block  " alt=""
                                                         src="/static/img/brands/android.svg"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 回放区 -->
                                <div class="tab-pane " id="tabs-playback">
                                    <div class="row row-deck">
                                        <!-- 回放设备列表 -->
                                        <div class="col-md-2">
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle"
                                                        data-bs-toggle="dropdown">
                                                    <!-- https://tabler-icons.io/i/device-mobile -->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-device-mobile"
                                                         width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                                         stroke="currentColor"
                                                         fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"></path>
                                                        <path d="M11 4h2"></path>
                                                        <path d="M12 17v.01"></path>
                                                    </svg>
                                                    选择回放设备
                                                </button>
                                                <div class="dropdown-menu" id="playBackDeviceList">
                                                    <!-- 下拉列表头:显示在线设备数量 -->
                                                    <span class="dropdown-header">可回放设备:
                                                <span id="playBackDeviceNum" class="text-red">0</span> 台
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 刷新设备列表按钮 -->
                                        <div class="col-md-4">
                                            <a id="refreshDeviceBtn"
                                               onclick="refreshPlayBackDevices()" class="btn btn-info">
                                                <!-- https://tabler-icons.io/i/refresh -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-refresh" width="24" height="24"
                                                     viewBox="0 0 24 24" stroke-width="1" stroke="currentColor"
                                                     fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                                                    <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                                                </svg>
                                                刷新设备列表
                                            </a>
                                        </div>
                                        <!-- 回放列表 -->
                                        <div class="col-md-2">
                                            <div class="dropdown ">
                                                <button type="button" class="btn dropdown-toggle"
                                                        data-bs-toggle="dropdown">
                                                    <!-- https://tabler-icons.io/i/history -->
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                         class="icon icon-tabler icon-tabler-history" width="24"
                                                         height="24" viewBox="0 0 24 24" stroke-width="1"
                                                         stroke="currentColor" fill="none" stroke-linecap="round"
                                                         stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M12 8l0 4l2 2"></path>
                                                        <path d="M3.05 11a9 9 0 1 1 .5 4m-.5 5v-5h5"></path>
                                                    </svg>
                                                    选择回放历史
                                                </button>
                                                <div class="dropdown-menu" id="playBackList">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 重播按钮 -->
                                        <div class="col-md-4">
                                            <a id="replayBtn" onclick="replay()" class="btn btn-cyan">
                                                <!-- https://tabler-icons.io/i/repeat-once -->
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-repeat-once" width="24"
                                                     height="24" viewBox="0 0 24 24" stroke-width="1"
                                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M4 12v-3a3 3 0 0 1 3 -3h13m-3 -3l3 3l-3 3"></path>
                                                    <path d="M20 12v3a3 3 0 0 1 -3 3h-13m3 3l-3 -3l3 -3"></path>
                                                    <path d="M11 11l1 -1v4"></path>
                                                </svg>
                                                <span id="replayContent">开始重播</span>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- 分割线 -->
                                    <div class="hr"></div>
                                    <!-- 进度条 -->
                                    <div class="progress m-2">
                                        <div id="progressBar" class="progress-bar" style="width: 0%"
                                             role="progressbar"></div>
                                    </div>
                                    <!-- 回放显示 -->
                                    <div class="container-tight">
                                        <div class="carousel" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img id="playback-desktop" class="d-block  " alt=""
                                                         src="/img/brands/android.svg"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page footer -->
            <footer class="footer footer-transparent d-print-none">
                <div class="container-xl">
                    <div class="row text-center align-items-center flex-row-reverse">
                        <div class="col-lg-auto ms-lg-auto">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    <a href="https://tabler.io/docs" target="_blank" class="link-secondary"
                                       rel="noopener">Tabler Docs</a>
                                </li>
                                <li class="list-inline-item"><a
                                        href="https://github.com/GuMorming/AndroidMonitor/blob/master/LICENSE"
                                        class="link-secondary">License</a>
                                </li>
                                <li class="list-inline-item"><a
                                        href="https://github.com/GuMorming/AndroidMonitor"
                                        target="_blank"
                                        class="link-secondary" rel="noopener">Source code</a>
                                </li>

                            </ul>
                        </div>
                        <!-- 版权信息 -->
                        <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                            <ul class="list-inline list-inline-dots mb-0">
                                <li class="list-inline-item">
                                    Copyright &copy; 2023
                                    <a href="." class="link-secondary">GuMorming-WHUT</a>.
                                    All rights reserved.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- Tabler Core -->
<script src="/js/tabler.js" defer></script>
<!-- WebSocket Core -->
<script src="/js/websocket.js" defer></script>
</body>
</html>